<mat-card class="project-create-container">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content>
    <form [formGroup]="teamForm" class="create-project-task-form">

      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name">
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="createTeam()" [disabled]="!teamForm.valid">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="teams-container">
  <div *ngIf="loadingTeams">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngFor="let _team of teams">
    <app-team [team]="_team"></app-team>
  </div>
</mat-card>
