<div *ngIf="this.isEdited; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="teamForm" class="edit-team-form">
        <mat-form-field>
          <input matInput placeholder="Name" type="text" formControlName="name">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="accent" matTooltip="Post it" (click)="sendEditedTeam()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="UndoEdit" (click)="undoEdit()">undo</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #elseBlock>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{team?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      id: {{team?.id}}
      <div class="date">Created: {{team?.createdAt | customDate}}</div>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Edit" (click)="startEdit()">edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
