<div *ngIf="this.isEdited; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userForm" class="edit-user-form">
        <mat-form-field>
          <input matInput placeholder="Team id" type="number"   pattern="\d*" formControlName="teamId">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First name" type="text" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last name" type="text" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="text" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose a birth day</mat-label>
          <input matInput placeholder="Birth day" [matDatepicker]="picker" formControlName="birthDay">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="accent" matTooltip="Post it" (click)="sendEditedUser()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="UndoEdit" (click)="undoEdit()">undo</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #elseBlock>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{(user?.firstName ?? '') + ' ' + (user?.lastName ?? '')}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      id: {{user?.id}}
      <p>{{user?.email}}</p>
      <div class="date">Created: {{user?.registeredAt | customDate}}</div>
      <div class="date">BirthDay: {{user?.birthDay | customDate}}</div>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Edit" (click)="startEdit()">edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
