<mat-card class="project-create-container">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content>
    <form [formGroup]="projectTaskForm" class="create-project-task-form">

      <mat-form-field>
        <input matInput placeholder="Project id" type="number"   pattern="\d*" formControlName="projectId">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Performer id" type="number" pattern="\d*" formControlName="performerId">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Description" type="text" formControlName="description">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="createProject()" [disabled]="!projectTaskForm.valid">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="project-tasks-container">
  <div *ngIf="loadingProjectTasks">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngFor="let _projectTask of projectTasks">
    <app-project-task [projectTask]="_projectTask"></app-project-task>
  </div>
</mat-card>
