<mat-card class="project-create-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  <mat-card-content>
    <form [formGroup]="projectForm" class="create-project-form">

      <mat-form-field>
        <input matInput placeholder="Author id" type="number"   pattern="\d*" formControlName="authorId">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Team id" type="number" pattern="\d*" formControlName="teamId">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Description" type="text" formControlName="description">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a deadline</mat-label>
        <input matInput placeholder="Deadline" [matDatepicker]="picker" formControlName="deadline">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="createProject()" [disabled]="!projectForm.valid">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="projects-container">
  <div *ngIf="loadingProjects">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngFor="let _project of projects">
    <app-project [project]="_project"></app-project>
  </div>
</mat-card>
