<div *ngIf="this.isEdited; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="projectTaskForm" class="edit-project-task-form">
        <mat-form-field>
          <input matInput placeholder="Name" type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" type="text" formControlName="description">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="accent" matTooltip="Post it" (click)="sendEditedProjectTask()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="UndoEdit" (click)="undoEdit()">undo</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #elseBlock>
  <mat-card>
    <mat-card-header status [taskState]="projectTask?.state">
      <mat-card-title>{{projectTask?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      id: {{projectTask?.id}}
      <div class="date">Created: {{projectTask?.createdAt | customDate}}</div>
      <div *ngIf="projectTask?.finishedAt" class="date">Finished at: {{projectTask?.finishedAt | customDate}}</div>
      <p>
        {{projectTask?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Edit" (click)="startEdit()">edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
