<mat-card class="project-create-container">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content>
    <form [formGroup]="userForm" class="create-user-form">

      <mat-form-field>
        <input matInput placeholder="Team id" type="number"   pattern="\d*" formControlName="teamId">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="First name" type="text" formControlName="firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last name" type="text" formControlName="lastName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" type="text" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a birth day</mat-label>
        <input matInput placeholder="Birth day" [matDatepicker]="picker" formControlName="birthDay">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button color="primary" matTooltip="Post it" (click)="createUser()" [disabled]="!userForm.valid">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="users-container">
  <div *ngIf="loadingUsers">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngFor="let _user of users">
    <app-user [user]="_user"></app-user>
  </div>
</mat-card>
