<mat-toolbar color="primary">
  <div class="header">
    <div class="header-content title" [routerLink]="['/']">
      Project structure
    </div>
    <div class="header-content">
      <mat-button-toggle-group>
        <mat-button-toggle [routerLink]="['/projects']">Projects</mat-button-toggle>
        <mat-button-toggle [routerLink]="['/tasks']">Tasks</mat-button-toggle>
        <mat-button-toggle [routerLink]="['/teams']">Teams</mat-button-toggle>
        <mat-button-toggle [routerLink]="['/users']">Users</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>

