.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.title {
  cursor: pointer;
}

.main-content {
  margin: 0 30%;
}

